html, body {
  height: 100%;
}

/* Main */
#main {
  margin: 20px 0;
  height: 100%;
}

/* Annimation */
@keyframes rotate {
  0% {
    transform: rotatey(0) translatez(100px);
  }
  100% {
    transform: rotatey(360deg) translatez(110px);
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotatey(0) translatez(100px);
  }
  100% {
    -webkit-transform: rotatey(360deg) translatez(110px);
  }
}

/* 3D Rotation */
.navbar .container .brand {
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;

  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: 4;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 4;
  -webkit-animation-timing-function: ease-in-out;
}

/* Context */
#main .context {
  background: #f0f0f0; /* Old browsers */
  background: -moz-linear-gradient(top, #f0f0f0 0%, #a5a5a5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#a5a5a5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f0f0f0 0%,#a5a5a5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f0f0f0 0%,#a5a5a5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f0f0f0 0%,#a5a5a5 100%); /* IE10+ */
  background: linear-gradient(to bottom, #f0f0f0 0%,#a5a5a5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#a5a5a5',GradientType=0 ); /* IE6-9 */
  border-radius: 8px;
  box-shadow: 1px 1px 5px #000;
  overflow: hidden;
  text-align: center;
}

#main .context #map-output {
  border: 1px solid #FFFFFF;
  height: 200px;
  margin: 5% auto;
  width: 90%;
}

#main .context #drawing-tools {
  padding: 10px;
}

/* Container */
#main .content {
  border: 1px solid #000;
  border-radius: 8px;
  height: 80%;
  overflow: hidden;
}

/* Canvas */
#main .content #my-draw-area[data-current-tool="pen"]:hover {
  cursor: crosshair;
}

#main .content #my-draw-area[data-current-tool="line"]:hover {
  cursor: w-resize;
}

